/ex2/nbproject/private/
/ex2/build/
/BrickBreaker/nbproject/private/
/BrickBreaker/build/
/BrickBreaker/dist/
/JavaFXSwingApplication2/nbproject/private/
/JavaFXSwingApplication2/dist/
/JavaFXSwingApplication2/build/
/JavaApplication46/nbproject/private/
/HelloStruts/nbproject/private/